@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Soft-Red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-Desaturated-Cyan: hsl(167, 40%, 24%);
  --Dark-Blue: hsl(198, 62%, 26%);
  --Dark-Moderate-Cyan: hsl(168, 34%, 41%);

  --Very-Dark-Desaturated-Blue: hsl(212, 27%, 19%);
  --Very-Dark-Grayish-Blue: hsl(213, 9%, 39%);
  --Dark-Grayish-Blue: hsl(232, 10%, 55%);
  --Grayish-Blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

.fraunces-700 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }


.fraunces-900 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

  .barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }





